version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/back/"
    schedule:
      interval: "weekly"
      day: monday
      time: "06:00"
    groups:
      back-dev:
        dependency-type: development
      back-prod-minor-update:
        applies-to: version-updates
        dependency-type: production
        update-types:
          - "minor"
          - "patch"
        exclude-patterns:
          # Exclude because package versions are v0.x, hence minor updates might contain breaking changes
          - "aiodataloader"
          - "ariadne"
    assignees:
      - "pylipp"
  - package-ecosystem: "npm"
    directory: "/docs/graphql-api"
    schedule:
      interval: "weekly"
      day: monday
      time: "07:00"
    assignees:
      - "pylipp"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 10
    directories:
      - "/"
      - "/front"
      - "/shared-components"
      - "/shared-front"
    schedule:
      interval: "weekly"
      day: monday
      time: "07:00"
    # Always increase the minimum version requirement to match the new version.
    # https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#versioning-strategy
    versioning-strategy: "increase"
    ignore:
      # https://github.com/boxwise/boxtribute/pull/2408
      - dependency-name: "react-hook-form"
      # v4 requires Node 20.19+ or 22+
      - dependency-name: "@vitejs/plugin-react-swc"
        versions: ["4.x"]
      # v27 requires Node 20.19+ or 22+
      - dependency-name: "jsdom"
        update-types:
          - "version-update:semver-major"
    groups:
      front-dev-minor-update:
        dependency-type: development
        update-types:
          - "minor"
          - "patch"
      front-prod-minor-update:
        dependency-type: production
        update-types:
          - "minor"
          - "patch"
