{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "camelcase": ["error"],
    "no-unused-expressions": "off",
    // enforce to have interfaces/type should start with "I".
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "no-loop-func": "error",
    "indent": ["error", 4],
    "no-tabs": 0,
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": "warn",
    "no-console": "error",
    "no-debugger": 1,
    // matter of preference
    "import/prefer-default-export": "off",
    // import/no-named-as-default disabled as it prevents a common pattern of exporting
    // non-connected redux components for testing and then exporting
    // the connected component as the default export
    // see https://github.com/benmosher/eslint-plugin-import/issues/544
    "import/no-named-as-default": "off",
    // codebase uses prop types some times and not others
    "react/prop-types": "off",
    // should be turned on eventually, but not compatible with current codebase
    "no-shadow": "off",
    "object-curly-newline": "off",
    // turning off no-console until actual error-handling/logging is done
    // "no-console":"warn",
    // matter of preference (allows to use props.propName instead of deconstructing props first)
    "react/destructuring-assignment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "lines-between-class-members": "off",
    // react hook rules
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    // suport for jsx files
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "overrides": [
    {
      "extends": "react-app",
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
