# logs
npm-debug.log*
pnpm-debug.log*

# Ignore all node_modules
node_modules
**/node_modules

# environments
.env.*
.env
.envrc

# test results
coverage

# OS files
**/.DS_Store
**/Thumbs.db

# Build directories
**/build
**/dist

# old
.venv
.coverage
htmlcov/
.mypy_cache/
env/
back/test-results
*.prof
./public/
docs/graphql-api/public
*.zip
.VSCodeCounter
*.old.*
__pycache__/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
