# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: v7.15.0
  #   hooks:
  #     - id: eslint
  #       additional_dependencies: # taken from react/package.json
  #         - eslint-config-airbnb@latest
  #         - eslint-config-prettier@latest
  #         - eslint-config-react-app@latest
  #         - eslint-plugin-import@latest
  #         - eslint-plugin-prettier@3.1.3
  #       files: \.[jt]sx?$
  #       types: [file]
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.2.1 # local node version must be higher than 10
  #   hooks:
  #     - id: prettier
  #       types_or: [javascript, jsx, json, ts, tsx, css, scss]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: isort
        name: isort
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
      - id: eslint
        name: eslint
        entry: ./invoke_tool
        files: react/.*\.[jt]sx?$
        types: [file]
        language: script
        require_serial: true
