# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
files: back/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        exclude: statviz/src/types/generated
  - repo: local
    hooks:
      - id: black
        name: Format Python files
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: Lint Python files
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: mypy
        name: Run Python type checks
        entry: mypy
        types_or: [python, pyi]
        exclude: back/test
        language: system
        args: ["--scripts-are-modules"]
        require_serial: true
      - id: isort
        name: Sort Python imports
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ["--filter-files"]
      - id: generate-graphql-ts-types
        name: Generate GraphQL Typescript definitions
        entry: docker-compose
        types: [graphql]
        files: back/boxtribute_server/graph_ql/definitions
        language: system
        require_serial: true
        pass_filenames: false
        args: ["run", "--rm", "front", "pnpm", "-C", "..", "graphql-gen"]
