services:
  webapp:
    build:
      context: ./back
      args:
        env: ${ENVIRONMENT:-development}
    ports:
      - 5005:5005
      # request localhost:5001 to run debugger in vscode (cf. README)
      - 5001:5001
    networks:
      - backend
    volumes:
      - ./back:/app/back
    environment:
      PYTHONUNBUFFERED: 1
      AUTH0_DOMAIN: ${AUTH0_DOMAIN:?auth0 config not set in .env file}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE:?auth0 config not set in .env file}
      AUTH0_CLIENT_ID: ${TEST_AUTH0_CLIENT_ID}
      AUTH0_CLIENT_SECRET: ${TEST_AUTH0_CLIENT_SECRET}
      TEST_AUTH0_CLIENT_ID: ${TEST_AUTH0_CLIENT_ID}
      TEST_AUTH0_CLIENT_SECRET: ${TEST_AUTH0_CLIENT_SECRET}
      AUTH0_JWKS_KID: ${AUTH0_JWKS_KID:-}
      AUTH0_JWKS_N: ${AUTH0_JWKS_N:-}
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: dropapp_root
      MYSQL_DB: dropapp_dev
      MYSQL_PORT: 3306
      ENVIRONMENT: ${ENVIRONMENT:-development}
      CI: "true"
    depends_on:
      - db
  front:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        SERVICE_DIR: front
    environment:
      NODE_ENV: development
      FRONT_ENVIRONMENT: ${ENVIRONMENT:-development}
      FRONT_SENTRY_ENVIRONMENT: ${ENVIRONMENT:-development}
      FRONT_SENTRY_FE_DSN: ${SENTRY_FE_DSN:-}
      FRONT_SENTRY_TRACES_SAMPLE_RATE: ${SENTRY_TRACES_SAMPLE_RATE:-}
      FRONT_AUTH0_DOMAIN: ${AUTH0_DOMAIN:?auth0 config not set in .env file}
      FRONT_AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID:?auth0 config not set in .env file}
      FRONT_AUTH0_AUDIENCE: ${AUTH0_AUDIENCE:?auth0 config not set in .env file}
      FRONT_REDIRECT: http://localhost:3000
      FRONT_LOGOUT_URL: http://localhost:3000
      FRONT_GRAPHQL_SERVER: http://localhost:5005/graphql
      FRONT_OLD_APP_BASE_URL: ${OLD_APP_BASE_URL:-http://localhost:8100}
    ports:
      - "3000:3000"
    stdin_open: true
    volumes:
      - .:/app
      # this is a workaround to prevent host node_modules from accidently getting mounted in container
      # in case you want to use node/npm both outside container for test/lint etc.
      - /app/node_modules
      - /app/front/node_modules
  statviz:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        SERVICE_DIR: statviz
    environment:
      NODE_ENV: development
      STATVIZ_GRAPHQL_SERVER: http://localhost:5005/public
    ports:
      - "5173:5173"
    stdin_open: true
    volumes:
      - .:/app
      - /app/node_modules
      - /app/statviz/node_modules
  db:
    image: mysql/mysql-server:8.0 # We run MySQL 8.0 on the production environment atm
    command: --default-authentication-plugin=mysql_native_password --lower_case_table_names=1 --character-set-server=utf8mb4 --collation-server=utf8mb4_0900_ai_ci
    environment:
      MYSQL_ROOT_PASSWORD: dropapp_root
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: dropapp_dev
    volumes:
      - ./back/dump-dropapp_production-202311012331.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - 32000:3306
    networks:
      - backend

networks:
  backend:
    driver: bridge
