version: '3.2'
services:
    app:
        build: ./flask_app
        ports:
          - "5000:5000"
        network_mode: "host"
    mysql:
        image: mysql/mysql-server:latest
        command: --default-authentication-plugin=mysql_native_password --lower_case_table_names=1
        environment:
          MYSQL_ROOT_PASSWORD: drop
          MYSQL_ROOT_HOST: '%'
          MYSQL_DATABASE: dropapp_dev
        volumes:
          - ./init.sql:/docker-entrypoint-initdb.d/init.sql
        ports:
          - "32000:3306"
