AUTH0_CLIENT_ID=ni9ZdcoIv3HU10kyc4t1qxOMxjVyxcbS
AUTH0_DOMAIN=boxtribute-dev.eu.auth0.com
AUTH0_AUDIENCE=boxtribute-dev-api
AUTH0_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0wGv6p+S8i/1IZjIercpzXl/lhzNG0OM0Ov4TRrQucDzKMPrvw4wYbwx6NYrD0Wqzov5Qmxza1QBKGC3IV5wdi+41ljuiAGqvs3lkG+yXjVxmDMJNijTYuFwXPvDqTKX6VQwMDWIRYTdNuDrvs45xcSJluzhg4iqSQ7smG0C5bFJF+ZweakHoZD91WyfxuykaK1dDBHSbawRezZfhRCy8gvSBVYGp9TcDMxLx0VqpXgBc1s0rnQSH920NXS1Q86etGdCI35Kf5yweLb67RtTr14pK9A1QP9atynhdv9mPQTFcanVbXH0Mw5ypp/kTK5kqSi4K3xVLCzCsW4+r6Af8wIDAQAB-----END PUBLIC KEY-----"

# Auth0 management API
AUTH0_MANAGEMENT_API_AUDIENCE=https://boxtribute-dev.eu.auth0.com/api/v2/
AUTH0_MANAGEMENT_API_DOMAIN=boxtribute-dev.eu.auth0.com
AUTH0_MANAGEMENT_API_CLIENT_ID=ZBDcEypTHMwn23ScgeaMqwzMxO5epguH
AUTH0_MANAGEMENT_API_CLIENT_SECRET=

# Variables for back-end tests
# In CircleCI, these are set on a project-level (instead of a context-level) in
# https://app.circleci.com/settings/project/github/boxwise/boxtribute/environment-variables
TEST_AUTH0_CLIENT_ID=Zksvh5NP42CGN12YhgaYf0Wf2LSAM2Ph
TEST_AUTH0_CLIENT_SECRET=
TEST_AUTH0_MANAGEMENT_API_CLIENT_ID=ZBDcEypTHMwn23ScgeaMqwzMxO5epguH
TEST_AUTH0_MANAGEMENT_API_CLIENT_SECRET=

ENVIRONMENT=development
