build
coverage
node_modules
# temporarily disable eslint on the current code
src/types
src/components/*.tsx
src/components/HeaderMenu
src/components/QrReader
src/components/QrReaderOverlay
!src/components/Form
src/mocks
src/providers
src/utils
!src/utils/fragments
src/views/AutomaticBaseSwitcher
src/views/BaseDashboard
*.stories.*
!src/views/BoxCreate
!src/views/BoxEdit
!src/components/NotificationMessage
!src/components/Layout
src/views/Boxes
src/views/Distributions
!src/views/Box
public
craco.config.js
*.js
!src\components\HeaderMenu\HeaderMenuDeskop.tsx
!src\components\HeaderMenu\HeaderMenuMobile.tsx
!src\components\HeaderMenu\HeaderMenuContainer.tsx
!src/components/QrReader
