*.d.ts
build
coverage
node_modules
# temporarily disable eslint on the current code
src/types
src/components/BTBreadcrumbNavigation.tsx
src/components/HeaderMenu
!src/components/HeaderMenu/HeaderMenuDeskop.tsx
!src/components/HeaderMenu/HeaderMenuMobile.tsx
!src/components/HeaderMenu/HeaderMenuContainer.tsx
src/components/QrReader
!src/components/QrReaderOverlay
!src/components/Form
!src/components/Layout.tsx
!src/mocks
src/providers/GlobalPreferencesProvider.tsx
src/utils
src/views/AutomaticBaseSwitcher
src/views/BaseDashboard
*.stories.*
!src/views/BoxCreate
!src/views/BoxEdit
src/views/Boxes
src/views/Distributions
!src/views/Box
public
craco.config.js
*.js
