ariadne==0.20.1
Flask==2.3.2
Flask-Cors==3.0.10
sentry-sdk[flask]==1.27.1
PyMySQL==1.1.0
peewee==3.16.2
peewee-moves==2.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
aiodataloader==0.4.0
gunicorn
