ariadne==0.23.0
Flask==3.0.3
Flask-Cors==4.0.1
sentry-sdk[flask]==2.11.0
PyMySQL==1.1.1
peewee==3.17.6
peewee-moves==2.1.0
python-dotenv==1.0.1
PyJWT[crypto]==2.8.0
aiodataloader==0.4.0
gunicorn
auth0-python==4.7.1
Faker==26.0.0
freezegun==1.5.1
