{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier", "../.eslintrc.cjs"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "camelcase": ["error"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": ["error", { "variables": false }],
    // enforce to have interfaces/type should start with "I".
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "no-loop-func": "error",
    "indent": "off", // handled by prettier
    "no-tabs": 0,
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "warn",
    "no-console": "error",
    "no-debugger": "error",
    "no-var": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    // should be turned on eventually, but not compatible with current codebase
    "no-shadow": "warn",
    "object-curly-newline": "off",
    // matter of preference (allows to use props.propName instead of deconstructing props first)
    "react/destructuring-assignment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "lines-between-class-members": "off",
    // react hook rules
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    // suport for jsx files
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }]
  },
  "overrides": [
    {
      "extends": "react-app",
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    },
    {
      "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"]
    }
  ]
}
