# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
npm-debug.log*
pnpm-debug.log*
junit.xml

/NOTES
storybook-static/
build-storybook.log
