*.d.ts
build
coverage
node_modules
public
craco.config.js
*.js
*.old.*
*.stories.*
# temporarily disable eslint on the current code
src/types
src/utils
src/views/BaseDashboard
src/views/Distributions
src/views/Box/BoxView.test.tsx
