/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
a{
  
  /* display: inline-block;
  padding: 2px; */
  position: relative;
}

a:hover:after {
  width:100%;

}

a:after{
  /* background: none repeat scroll 0 0 transparent; */
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #315c88;
  transition: width 1s ease 0s,;
  width: 0;
}